@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Martel Sans", sans-serif;
}

body {
	background-color: black;
}

.main {
	background-image: url(assets/images/bg.jpg);
	height: 75vh;
	position: relative;
	background-position: center center;

	background-size: max(1200px, 100vw);
	background-repeat: no-repeat;
}

.main .box {
	height: 75vh;
	width: 100%;
	opacity: 0.74;
	background-color: black;
	position: absolute;
	top: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	max-width: 77vw;
	margin: auto;
	align-items: center;
	height: 49px;
	padding: 10px 0px;
}

nav img {
	width: 116px;
	position: relative;
	z-index: 10;
}

nav button {
	position: relative;
	z-index: 10;
}

.hero {
	color: white;
	height: calc(100% - 49px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	font-family: "Martel Sans", sans-serif;
	gap: 10px;
	padding: 0 20px;
}

.hero> :nth-child(1) {
	font-size: 33px;
	font-weight: 1000;
	text-align: center;
}

.hero> :nth-child(2) {
	font-size: 23px;
	font-weight: 600;
	text-align: center;
}

.hero> :nth-child(3) {
	font-size: 17px;
	font-weight: 400;
	text-align: center;
}

.separation {
	position: relative;
	z-index: 2;
	height: 3px;
	background-color: rgb(88, 87, 87);
}

.btn {
	padding: 2px 7px;
	font-weight: 370;
	color: white;
	background-color: rgb(13 13 12 / 67%);
	border: 0.5px solid white;
	border-radius: 4px;
	cursor: pointer;
	font-family: "Poppins" , sans-serif;
}	

.btn-red {
	background-color: red;
	color: white;
	border-radius: 3px;
	font-size: 15px;
	padding: 4px 11px;
	font-weight: 400;
}

.btn-red-sm {
	background-color: red;
	color: white;
}

.hero-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

.main input {
	padding: 7px 101px 8px 14px;
	color: white;
	font-size: 12px;
	border-radius: 4px;
	background-color: rgba(23, 23, 23, 0.7);
	border: 1px solid rgba(246, 238, 238, 0.5);
}

.first{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	max-width: 70vw;
	margin: auto;

}

.first>div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
}
.secImg{
	position: relative;
}

.secImg video{
	position: absolute;
    top: 61px;
    right: 57px;
    width: 270px;
}
.secImg img{
	width: 381px;
    position: relative;
    z-index: 1;
}

.first>div :nth-child(1){
	font-size: 35px;
    font-weight: 500;
    font-family: 'Poppins';
}

.first>div :nth-child(2){
	font-size: 18px;
    font-weight: 300;
    font-family: 'Poppins';
}

.first.third video{
	width: 271px;
    height: 155px;
    top: 59px;
    right: 57px;
}

.faq {
	color: white;
	padding: 20px;
}

.faq h2{
	text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 11px;
}


.faqbox{
	padding: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: rgb(76 70 70 / 58%);
    max-width: 60vw;
    margin: 5px auto;
	cursor: pointer;
}

.faqbox:hover{
	background-color: rgb(76 70 70 / 85%);
}
footer{
	max-width: 60vw;
	margin: auto;
	color: white;
}
footer .questions{
	padding: 20px 0px;
	color: #afafaf;
	font-size: 14px;

}
.footer{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	color: white;
}

@media screen and (max-width: 1000px){
	.footer{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 40px;
	}
	.first{
		flex-wrap: wrap;
		padding: 10px;
	}
}
@media screen and (max-width: 300px){
	.first.third img{
		width: 281px;
	}
	.first.third video{
		width: 202px;
		top: 44px;
		right: 62px;
	}
	.secImg video{
		top: 67px;
		right: 64px;
		width: 194px;
	}
	.secImg img{
		width: 281px;
	}
	
	.secImg{
		padding: 20px;
	} 


}

@media screen and (max-width: 400px){
	.hero>:nth-child(1){
		font-size: 24px;
	}
	.hero>:nth-child(2){
		font-size: 19px;
	}
	.hero>:nth-child(3){
		font-size: 13px;
	}

	nav{
		flex-direction: column;
	}
	.hero-buttons input{
		padding: 7px 77px 8px 14px;
	}

	.hero-buttons{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	
}
.footer a{
	font-size: 12px;
	color: #afafaf;
}
.footer-item{
	display: flex;
	flex-direction: column;
	gap: 16px;
}


